.button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    //outline: 0;
    padding: 3px;
    cursor: pointer;
    max-width: 50px;
    &:focus {
        border-color: $yellow;
    }
}