.image {
    //max-width: 60%;
    height: auto;
    justify-self: left;
    width: v(spacing, 50%);
    filter: blur(v(blur, 0px));
    filter: sepia(v(sepia, 0%));
    filter: hue-rotate(v(hue-rotate, 0deg));
}