.portfolio {
  background-color: $base-blue;
  border-bottom: 6px solid #323746;
  padding: 59px 0px 48px;

  @include media-tablet {
    padding: 59px 0px 45px 0px;
    border-bottom: 7.6px solid #323746;
  }

  @include media-mobile {
    padding: 42px 0px 28px;
    border-bottom: none;
  }
}

.portfolio-wrapper {
  padding: 0px 40px;

  @include media-tablet {
    padding: 0px 39px;
  }

  @include media-mobile {
    padding: 0px 30px;
  }
}

.portfolio-filters {
  margin-bottom: 16px;

  @include media-tablet {
    margin-bottom: 28px;
  }

  @include media-mobile {
    margin-bottom: 25px;
  }

  .tag {
    display: inline-block;
    border: 1px solid $light-grey;
    border-radius: 5px;       
    padding: 5px;
    color: $light-grey;
    @include font(
      $size: 1.2rem,
      $height: 1.2rem,
      $weight: normal,
      $style: normal
    );
     
    &:not(:last-child) {
      margin-right: 10px; 
    }      

    @include media-small-mobile {      
      font-size: 1.1rem;

      &:not(:last-child) {
        margin-right: 3px; 
      } 
    }      

    &:hover {
      color: #dedede;
      border: 1px solid #bbbbbb;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
  }
}

.portfolio-description {
  margin: 0px 0px 12.82px 0px;
  @include font($size: 1.8rem, $height: 3rem, $weight: 300, $style: normal);
  color: $light-grey;

  @include media-tablet {
    margin: 0px 0px 12px 0px;
    padding-right: 60px;
  }

  @include media-mobile {
    margin: 0px 0px 10px 0px;
    padding-right: 10px;
  }
}

.portfolio-examples-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;

  .portfolio-example {
    margin-bottom: 20px;
    flex-grow: 1;
    width: 20%;

    &:not(:nth-child(4n)){
    margin-right: 20px;
    }
        
    &:nth-child(n + 13) {
      display: none;
    }

    @include media-tablet {
      &:not(:nth-child(3n)){
        margin-right: 20px;
      }
      &:nth-child(3n){
        margin-right: 0px;
      }
      width: 30%;

      &:nth-child(n + 13) {
        display: none;
      }
    }

    @include media-mobile {      
      margin-bottom: 14px;
      &:not(:nth-child(2n)){
        margin-right: 13px;
      }
      &:nth-child(2n){
        margin-right: 0px;
      }
      width: 44%;

      &:nth-child(n + 9) {
        display: none;
      }
    }

    @include media-small-mobile {
      width: 43%;

      &:nth-child(n + 9) {
        display: none;
      }
    }
  }
}

.tag.active {
  color: #dedede;
  border: 1px solid #bbbbbb;
  transition: all 0.5s ease;
}
