.portfolio {
  background-color: $color-base-blue;
  border-bottom: 6px solid #323746;
  padding: 59px 0px 48px 0px;

  @include media-tablet {
    padding: 59px 0px 45px 0px;
    border-bottom: 7.6px solid #323746;
  }

  @include media-mobile {
    padding: 42px 0px 28px 0px;
    border-bottom: none;
  }
}

.portfolio-wrapper {
  max-width: $content-width;
  margin: auto;
}

.portfolio-items {
  span {
    display: inline-block;
    border: 1px solid #767e9e;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 16px;
    padding: 5px;
    color: $color-light-grey;
    @include font(
      $size: 1.2rem,
      $height: 1.2rem,
      $weight: normal,
      $style: normal
    );

    @include media-tablet {
      margin-bottom: 28px;
    }

    @include media-mobile {
      margin-bottom: 25px;
    }

    @include media-small-mobile {
      margin-right: 6px;
    }   

    &:first-child {
      margin-left: 40px;

      @include media-tablet {
        margin-left: 42px;
      }

      @include media-mobile {
        margin-left: 30px;
      }
    }

    &:hover {
      color: #dedede;
      border: 1px solid #bbbbbb;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
  }
}

.portfolio-description {
  margin: 18px 0px 12.82px 40px;
  @include font($size: 1.8rem, $height: 3rem, $weight: 300, $style: normal);
  color: $color-light-grey;

  @include media-tablet {
    margin: 18px 32px 12px 41px;
    padding-right: 60px;
  }

  @include media-mobile {
    margin: 18px 30px 10px 30px;
    padding-right: 10px;
  }
}

.layout-4-colum {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px 0px 40px;

  @include media-tablet {
    margin: 0px 19px 0px 39px;
  }

  @include media-mobile {
    margin: 0px 17px 0px 30px;
  }

  @include media-small-mobile {
    margin: 0px 17px 0px 30px;
  }

  img {
    margin-right: 20px;
    margin-bottom: 20px;
    
    &:nth-child(n + 13) {
      display: none;
    }

    @include media-tablet {
      width: 30%;

      &:nth-child(n + 13) {
        display: none;
      }
    }

    @include media-mobile {
      margin-right: 13px;
      margin-bottom: 14px;
      width: 46%;

      &:nth-child(n + 9) {
        display: none;
      }
    }

    @include media-small-mobile {
      width: 45%;

      &:nth-child(n + 9) {
        display: none;
      }
    }
  }
}

.tag.active {
  color: #dedede;
  border: 1px solid #bbbbbb;
  transition: all 0.5s ease;
}
