* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 162, 255, 0.767);
  border-radius: 5px;
  color: aliceblue;
  box-shadow: 5px 5px 5px grey;
  height: 250px;
  padding: 10px 20px;
}

.photo {
  align-self: center;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.header-h4 {
  border: 1px solid black;
  border-radius: 5px;
  align-self: start;
  width: 180px;
  margin-right: 90px;
}

.section-summary {
  display: flex;
}

.section-experience {
  display: flex;
}

.section-education {
  display: flex;
}

.section-skills {
  display: flex;
}

.summary {
  width: 730px;
  padding: 0px 0px 0px 30px;
}

p:first-of-type {
  font-weight: bold;
}
p:nth-of-type(2) {
  font-size: 80%;
}
p:nth-of-type(3) {
  font-size: 80%;
}
address p:first-of-type {
  font-weight: inherit;
}
address p:nth-of-type(2) {
  font-size: inherit;
}
address p:nth-of-type(3) {
  font-size: inherit;
}

section.section-skills p {
  font-weight: inherit;
}
