:root {
    --base:#65737e;
    --spacing: 50%;
    --blur: 0px;
    --invert: 0%;
    --sepia: 0%;
    --saturate: 100%;
    --hue-rotate: 0deg;
    --color: #c0c5ce;
}

$grey:  #65737e;
$light-grey: #c0c5ce;


$tablet-width: 768px;
$mobile-width: 375px;
$small-mobile-width: 320px;