$soft-cyan: #a8ebf0;
$very-soft-cyan: #91e5eb;
$cyan: #44d2de;
$light-grayish-cyan:#caecf6;
$soft-blue: #4486de;
$very-soft-blue: #87baea;
$very-light-gray: #ececec;
$gray: #808080;
$light-gray: #cdcdcd;
$dark-gray: #888888;
$very-dark-gray: #3a3a3a;
$black: #000000;
$beige: #f5f5dc;
$white: #FFFFFF;

$desktop-width: 1024px;
$tablet-width: 768px;
$big-mobile-width: 414px;
$mobile-width: 375px;
$small-mobile-width: 320px;