$color-base-blue: #2d303a;
$color-base-red: #f06c64;
$color-grey: #666d89;
$color-light-grey:  #767E9E;
$color-white: #FFFFFF;

$content-width: 1020px;
$tablet-width: 1019.5px;
$mobile-width: 767.5px;
$small-mobile-width: 374px;

