$color-primary: #2d303a;
$color-additional: #f06c64;
$color-text: #666d89;
$color-text-add:  #767E9E;
$color-light: #FFFFFF;

$content-width: 1020px;
$tablet-width: 1019.5px;
$mobile-width: 767.5px;
$small-mobile-width: 374px;

