html {
    width: 99%;
}

body {
    margin: 5px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    font-size: 10px;
}

header {
    text-align: center;
}

.header {
    margin: 10px auto;
}