html {
    font-size: 20px;

    @include media-tablet {
        font-size: 15px;
    }

    @include media-mobile {
        font-size: 8px;
    }

    @include media-small-mobile {
        font-size: 5px;
    }
}
