body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: v(base, $grey);
}

.wrapper {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    
    @include media-tablet {
        padding-top: 15px;
    }

    @include media-mobile {
        flex-direction: column;
    }
}

.headline {
    text-align: center;
    font-size: 2.5rem;
    margin: 40px;
    color: v(color, $light-grey);

    @include media-mobile { 
        font-size: 2rem;
        margin: 25px 15px 0px;
    }

    @include media-small-mobile {
        font-size: 1.7rem;
    }
}

.filters-title {
    font-size: 2rem;
    color: v(color, $light-grey);
    margin-top: 0px;

    @include media-small-mobile {
        font-size: 1.5rem;
    }
}